!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.7.2.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='socket.io/socket.io.js')
    != js('main')
  body!= body
